  <ion-list>
    <ion-list-header>
      <ion-label>Count History</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of countHistory; let i = index">
      <ion-item>
        <ion-label><span class="history-count">{{ item.count }}</span> <span class="history-name">{{ item.name }}</span></ion-label>
        <button class="cont-btn" (click)="continueWithCount(i)">Continue</button>
        <!-- <ion-button (click)="continueWithCount(i)"  fill="outline">Continue</ion-button> -->
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="danger" expandable (click)="deleteCount(i)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


