<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title> 
    </ion-toolbar>
  </ion-header> -->

  <div class="counter-wrap">
    <div class="counter-container">
      <!-- <h2>Counter</h2> -->
      <!-- <div> -->
        <!-- <label for="nameInput">Name:</label> -->
        <input id="nameInput" type="text" [(ngModel)]="userName" placeholder="Enter name" />
      <!-- </div> -->
      <button (click)="saveCount()" [disabled]="!userName" class="save-btn" [style.background-color]="saved ? '#9dd49f' : '#d6d6d6'"    >
        @if(saved) {
          Saved Succefully !
        } @else {
          Save
        }
      </button>
      
      
      <!-- Include the History Component -->
      <!-- <app-history
      [countHistory]="countHistory"
      (deleteHistoryItem)="deleteCount($event)"
      (continueWithHistoryItem)="continueWithCount($event)"
      ></app-history> -->
    </div>
    
    <div class="count-wrap">
      <h3 class="count">{{ count }}</h3>
      <button (click)="resetCount()" class="reset"></button>
    <button (click)="incrementCount()" class="press-btn"></button>
  </div>
  </div>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
